lesson-3/task-2/workflow/smart-email-agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        208,
        192
      ],
      "id": "31cd0b59-cfd5-45b5-bcc1-809ded939616",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AHjjfhHxIQF0R1rR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        0
      ],
      "id": "0eec920e-e667-42be-8c31-8403a8770e10",
      "name": "Manual trigger"
    },
    {
      "parameters": {
        "inputText": "={{$json.query}}",
        "categories": {
          "categories": [
            {
              "category": "Customer",
              "description": "Billing inquiries, refund requests, product inquiries, sales questions, general support requests, feature requests, subscription issues, pricing questions."
            },
            {
              "category": "Admin",
              "description": "Technical issues, API failures, production outages, security incidents, database problems, integration issues, authentication failures, infrastructure problems."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "1f9bbee8-4383-47e3-a50c-55114652dfab",
      "name": "Text Classifier Customer / Admin "
    },
    {
      "parameters": {
        "url": "https://api.escuelajs.co/api/v1/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -224
      ],
      "id": "8efff1f1-148a-431e-ab09-666e0dfcf0aa",
      "name": "HTTP Request GET Users API"
    },
    {
      "parameters": {
        "url": "https://api.escuelajs.co/api/v1/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        208
      ],
      "id": "9a89d81d-a8ce-4eda-8cfd-ba1ddd301b87",
      "name": "HTTP Request GET Users API "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39604923-bb62-40d9-bdc6-792457903e98",
              "leftValue": "={{$json.role}}",
              "rightValue": "customer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        784,
        -224
      ],
      "id": "326929a5-505f-44ee-9e65-2d3300a7114c",
      "name": "Filter role = customer "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01355671-9c63-4b42-988c-9d2c21cdee6c",
              "leftValue": "={{$json.role}}",
              "rightValue": "admin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        784,
        208
      ],
      "id": "fefe5b99-e962-429e-ab85-5439c9cbe8b6",
      "name": "Filter role = admin"
    },
    {
      "parameters": {
        "sendTo": "maaswin03@gmail.com",
        "subject": "Technical Support Escalation",
        "emailType": "text",
        "message": "Hello,  A new technical issue has been received.  Category: Admin  The AI has classified this request as an administrative/technical issue.  Please investigate and resolve the issue.  Regards, Smart Gmail Agent",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        208
      ],
      "id": "8583ab5b-c118-4ce1-8312-4a4a1d73a600",
      "name": "Gmail Send Admin Mail",
      "webhookId": "8ce45123-11fb-49ef-98cb-6f9b8fda000f",
      "credentials": {
        "gmailOAuth2": {
          "id": "mX2s8OS3iNqdX0Fv",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "maaswin03@gmail.com",
        "subject": "Customer Support Request",
        "emailType": "text",
        "message": "Hello,  A new customer support request has been received.  Category: Customer  The AI has classified this request as a customer query.  Please review and assist the customer.  Regards, Smart Gmail Agent",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -224
      ],
      "id": "e4d6c375-7923-4744-bd6a-fd1c00bf9ee3",
      "name": "Gmail Send Customer Mail",
      "webhookId": "8ce45123-11fb-49ef-98cb-6f9b8fda000f",
      "credentials": {
        "gmailOAuth2": {
          "id": "mX2s8OS3iNqdX0Fv",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e27b315c-e06c-455d-9e61-959785cf427b",
              "name": "query",
              "value": "URGENT: Our API integration is down and affecting production systems. We need immediate technical support to resolve this critical issue.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        0
      ],
      "id": "6fd9a877-3592-4d71-8a51-494632d7293e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier Customer / Admin ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier Customer / Admin ": {
      "main": [
        [
          {
            "node": "HTTP Request GET Users API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request GET Users API ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request GET Users API": {
      "main": [
        [
          {
            "node": "Filter role = customer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request GET Users API ": {
      "main": [
        [
          {
            "node": "Filter role = admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter role = customer ": {
      "main": [
        [
          {
            "node": "Gmail Send Customer Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter role = admin": {
      "main": [
        [
          {
            "node": "Gmail Send Admin Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier Customer / Admin ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "230a7330-b9b7-41d4-9ebf-e4fb7cc1dac3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4708a54475faf5112331a0a1c0df140706650a08cb51c9f123667391e8e23722"
  },
  "nodeGroups": [],
  "id": "1dP1pN78ZLNGI6j7",
  "tags": []
}